Repository Mati365/ckeditor5-symfony: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, php

feat: add more testing
  tests/Unit/CKEditorBundleTest.php
  tests/Unit/Preset/EditorTypeTest.php
  tests/Unit/Preset/PresetParserTest.php
  tests/Unit/Preset/PresetTest.php
Due: none

test: add language unit test
  src/Language/Language.php
  src/Language/LanguageParser.php
  tests/Unit/Language/LanguageFallbackTest.php
  tests/Unit/Language/LanguageParserTest.php
  tests/Unit/Language/LanguageTest.php
Due: php

test: add more testing
  tests/Unit/DependencyInjection/CKEditorExtensionNoAssetMapperTest.php
  tests/Unit/DependencyInjection/CKEditorExtensionTest.php
  tests/Unit/DependencyInjection/ConfigurationTest.php
  tests/Unit/Service/ConfigManagerTest.php
Due: none

test: add more testing
  composer.json
  composer.lock
  tests/Unit/Cloud/CloudSingletonLoaderTest.php
  tests/Unit/Context/ContextParserTest.php
  tests/Unit/Context/ContextTest.php
Due: none

test: full coverage on PHP integration
  phpunit.xml
  src/Cloud/CloudSingletonLoader.php
  tests/Feature/.gitkeep
  tests/Unit/Form/Type/CKEditor5TypeTest.php
  tests/Unit/Twig/CKEditorTwigExtensionTest.php
  tests/Unit/Twig/Runtimes/CKEditorCloudAssetsRuntimeTest.php
  tests/Unit/Twig/Runtimes/CKEditorContextRuntimeTest.php
  tests/Unit/Twig/Runtimes/CKEditorEditableRuntimeTest.php
  tests/Unit/Twig/Runtimes/CKEditorHiddenInputRuntimeTest.php
  tests/Unit/Twig/Runtimes/CKEditorRuntimeTest.php
  tests/Unit/Twig/Runtimes/CKEditorUIPartRuntimeTest.php
Due: php

test: fix psalm errors
  config/services.php
  src/Cloud/CloudLoaderInterface.php
  src/Cloud/CloudSingletonLoader.php
  src/Form/Type/CKEditor5Type.php
  src/Twig/Runtimes/CKEditorCloudAssetsRuntime.php
  tests/Unit/Twig/Runtimes/CKEditorCloudAssetsRuntimeTest.php
Due: php

fix: add missing override
  src/Cloud/CloudSingletonLoader.php
Due: php

test: add more testing
  .github/workflows/code-checks.yml
  npm_package/src/elements/editor/editor.test.ts
  npm_package/src/elements/editor/editor.ts
  npm_package/src/elements/editor/utils/index.ts
  npm_package/src/elements/editor/utils/is-single-root-editor.test.ts
  npm_package/src/elements/editor/utils/is-single-root-editor.ts
  npm_package/src/elements/editor/utils/query-editor-editables.ts
  npm_package/src/elements/register-custom-elements.ts
  npm_package/src/shared/async-registry.test.ts
  npm_package/src/shared/async-registry.ts
  npm_package/src/shared/wait-for-dom-ready.test.ts
  npm_package/test-utils/context/create-context-snapshot.ts
  npm_package/test-utils/context/index.ts
  npm_package/test-utils/context/wait-for-test-context.ts
  npm_package/test-utils/editable/create-editable-snapshot.ts
  npm_package/test-utils/editable/index.ts
  npm_package/test-utils/editable/render-test-editable.ts
  npm_package/test-utils/editor/create-editor-preset.ts
  npm_package/test-utils/editor/create-editor-snapshot.ts
  npm_package/test-utils/editor/index.ts
  npm_package/test-utils/editor/is-editor-shown.ts
  npm_package/test-utils/editor/render-test-editor.ts
  npm_package/test-utils/editor/wait-for-test-editor.ts
  npm_package/test-utils/html.ts
  npm_package/test-utils/index.ts
  npm_package/test-utils/ui-part/create-ui-part-snapshot.ts
  npm_package/test-utils/ui-part/index.ts
  src/Preset/Preset.php
  src/Twig/Runtimes/CKEditorRuntime.php
  templates/cke5_editor.html.twig
Due: javascript, php

test: minor coverage fixes
  npm_package/src/elements/editor/custom-editor-plugins.ts
  npm_package/src/elements/editor/editor.test.ts
  npm_package/src/elements/editor/editor.ts
  npm_package/src/elements/editor/utils/load-editor-constructor.ts
  npm_package/src/elements/editor/utils/load-editor-plugins.ts
  npm_package/test-utils/editable/create-editable-snapshot.ts
Due: javascript

test: add more testing
  npm_package/src/elements/editor/editor.test.ts
  npm_package/src/elements/editor/editor.ts
Due: javascript

test: add more testing
  npm_package/src/elements/editable.test.ts
  npm_package/src/elements/editable.ts
  npm_package/src/elements/editor/utils/get-editor-roots-values.ts
  npm_package/src/elements/editor/utils/index.ts
  npm_package/test-utils/editable/render-test-editable.ts
Due: javascript

test: add more async registry testing
  npm_package/src/shared/async-registry.test.ts
Due: javascript

test: add context tests
  npm_package/src/elements/context/context.test.ts
  npm_package/src/elements/context/context.ts
  npm_package/test-utils/context/create-context-snapshot.ts
  npm_package/test-utils/context/index.ts
  npm_package/test-utils/context/render-test-context.ts
Due: javascript

test: full coverage
  npm_package/src/elements/editor/plugins/sync-editor-with-input.ts
  npm_package/src/elements/editor/utils/query-editor-editables.ts
  npm_package/src/elements/ui-part.test.ts
  npm_package/src/elements/ui-part.ts
  npm_package/test-utils/ui-part/index.ts
  npm_package/test-utils/ui-part/render-test-ui-part.ts
Due: javascript

docs: add TS coverage
  README.md
Due: none

fix: remove `bundler` dir from npm package files
  .github/workflows/publish.yml
  npm_package/package.json
Due: javascript

fix: adjust CI job
  .github/workflows/publish.yml
Due: none

test: fix flaky test
  npm_package/src/elements/editor/editor.test.ts
Due: javascript

ci: adjust ci
  .github/workflows/publish.yml
Due: none

chore: add `repository.url` to `package.json` of npm package
  npm_package/package.json
Due: javascript

docs: add version badge
  README.md
Due: none

docs: add installation info
  README.md
Due: none

docs: simpler readme
  README.md
Due: none

docs: adjust command output
  README.md
Due: none

docs: init
  README.md
Due: none

docs: add missing info about assets mapper
  README.md
Due: none

docs: add screens
  docs/balloon-editor.png
  docs/classic-editor-with-toolbar.png
  docs/context.png
  docs/custom-highlight-plugin.png
  docs/decoupled-editor.png
  docs/inline-editor.png
  docs/multiroot-editor.png
Due: none

docs: add missing installer step
  README.md
Due: none

fix: add explicit autowiring of installer strategies iterator
  config/services.php
Due: none

test: less flaky tests
  npm_package/src/elements/context/context.test.ts
  npm_package/src/elements/editable.test.ts
  npm_package/src/elements/editable.ts
  npm_package/src/elements/editor/editor.test.ts
  npm_package/src/elements/ui-part.test.ts
  npm_package/src/elements/ui-part.ts
  npm_package/test-utils/editor/index.ts
  npm_package/test-utils/editor/wait-for-destroy-all-editors.ts
Due: javascript

ci: include `dist` in build process due to assets mapper issues
  .github/workflows/publish.yml
Due: none

feat: add ability to adjust `assets/app.js` to installer script
  config/services.php
  playground/assets/app.js
  playground/assets/bootstrap.js
  playground/composer.json
  playground/importmap.php
  src/Command/CKEditor5AssetsMapperInstallCommand.php
  src/Command/Installer/JSManipulator.php
Due: php

fix: lack of CSS installer
  src/Command/CKEditor5AssetsMapperInstallCommand.php
Due: php

fix: lack missing path in installer
  src/Command/CKEditor5AssetsMapperInstallCommand.php
Due: php

docs: adjust info in docs
  README.md
Due: none

docs: adjust installer info
  README.md
Due: none

fix: add missing re-exports
  README.md
  npm_package/src/index.ts
Due: javascript

docs: adjust indent
  README.md
Due: none

fix: incorrect script command generated by installer
  playground/composer.json
  src/Command/CKEditor5AssetsMapperInstallCommand.php
Due: php

Path conditions:
  javascript: any of: npm_package/
  php: any of: src/
