Repository Mati365/ckeditor5-symfony: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, php

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 0%
    patch:
      default:
        target: 100%
        threshold: 0%

flags:
  javascript:
    paths:
      - npm_package/
    carryforward: false
  php:
    paths:
      - src/
    carryforward: false

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

chore: change php version in ci
  .github/workflows/code-checks.yml
Due: none

chore: no longer failing psalm
  playground/.gitkeep
Due: none

docs: add coverage docs
  README.md
Due: none

chore: init playground
  README.md
  playground/.gitignore
  playground/assets/app.js
  playground/assets/bootstrap.js
  playground/assets/controllers.json
  playground/assets/controllers/hello_controller.js
  playground/assets/styles/app.css
  playground/bin/console
  playground/composer.json
  playground/composer.lock
  playground/config/bundles.php
  playground/config/packages/asset_mapper.yaml
  playground/config/packages/debug.yaml
  playground/config/packages/framework.yaml
  playground/config/packages/monolog.yaml
  playground/config/packages/routing.yaml
  playground/config/packages/security.yaml
  playground/config/packages/translation.yaml
  playground/config/packages/twig.yaml
  playground/config/packages/validator.yaml
  playground/config/packages/web_profiler.yaml
  playground/config/preload.php
  playground/config/routes.yaml
  playground/config/routes/framework.yaml
  playground/config/routes/security.yaml
  playground/config/routes/web_profiler.yaml
  playground/config/services.yaml
  playground/importmap.php
  playground/public/index.php
  playground/src/Controller/.gitignore
  playground/src/Kernel.php
  playground/symfony.lock
  playground/templates/base.html.twig
Due: none

chore: no longer crash eslint
  eslint.config.mjs
  playground/config/packages/asset_mapper.yaml
  playground/config/packages/debug.yaml
  playground/config/packages/framework.yaml
  playground/config/packages/monolog.yaml
  playground/config/packages/routing.yaml
  playground/config/packages/security.yaml
  playground/config/packages/translation.yaml
  playground/config/packages/twig.yaml
  playground/config/packages/validator.yaml
  playground/config/packages/web_profiler.yaml
  playground/config/routes.yaml
  playground/config/routes/framework.yaml
  playground/config/routes/security.yaml
  playground/config/routes/web_profiler.yaml
  playground/config/services.yaml
Due: none

chore: add playground symlinks
  playground/composer.json
  playground/composer.lock
Due: none

chore: add tailwind to playground
  playground/.gitignore
  playground/.symfony.local.yaml
  playground/assets/bootstrap.js
  playground/assets/controllers/.gitkeep
  playground/assets/controllers/hello_controller.js
  playground/assets/styles/app.css
  playground/composer.json
  playground/composer.lock
  playground/config/bundles.php
  playground/config/packages/asset_mapper.yaml
  playground/config/packages/symfonycasts_tailwind.yaml
  playground/src/Controller/.gitignore
  playground/src/Controller/ClassicController.php
  playground/src/Controller/IndexController.php
  playground/symfony.lock
  playground/templates/base.html.twig
  playground/templates/classic/index.html.twig
  playground/templates/index/index.html.twig
  pnpm-lock.yaml
Due: none

chore: fix linter errors
  playground/.symfony.local.yaml
  playground/config/packages/asset_mapper.yaml
  playground/config/packages/symfonycasts_tailwind.yaml
Due: none

chore: extend lint staged script
  package.json
Due: none

chore: fix typo and timeout in template
  playground/composer.json
  playground/templates/base.html.twig
Due: none

feat: add more code
  playground/config/bundles.php
  playground/importmap.php
  src/CKEditorBundle.php
  src/Command/CKEditorInstallCommand.php
  src/Config.php
  src/Context/Context.php
  src/Context/ContextParser.php
  src/DependencyInjection/CKEditorExtension.php
  src/DependencyInjection/Configuration.php
  src/Exceptions/InvalidLicenseKey.php
  src/Exceptions/UnknownContext.php
  src/Exceptions/UnknownPreset.php
  src/License/DistributionChannel.php
  src/License/Key.php
  src/License/KeyParser.php
  src/Preset/EditorType.php
  src/Preset/Preset.php
  src/Preset/PresetParser.php
Due: php

feat: add more boilerplate code
  config/services.php
  eslint.config.mjs
  playground/assets/bootstrap.js
  playground/assets/controllers.json
  playground/composer.lock
  playground/importmap.php
  src/CKEditorBundle.php
  src/Command/CKEditorInstallCommand.php
  src/DependencyInjection/CKEditorExtension.php
  src/DependencyInjection/Configuration.php
Due: php

feat: add more boilerplate code
  config/services.php
  src/CKEditorBundle.php
  src/ConfigParser.php
  src/DependencyInjection/CKEditorExtension.php
Due: php

feat: add watcher
  playground/.symfony.local.yaml
  playground/importmap.php
  playground/scripts/watch-and-rebuild-importmap.mjs
Due: none

feat: init base widget
  composer.json
  composer.lock
  config/services.php
  playground/templates/classic/index.html.twig
  src/CKEditorBundle.php
  src/DependencyInjection/CKEditorExtension.php
  src/Service/ConfigManager.php
  src/Twig/CKEditorTwigExtension.php
  src/Twig/Runtimes/CKEditorTwigWidget.php
  templates/widget.html.twig
Due: php

feat: add more boilerplate code
  config/services.php
  npm_package/src/index.ts
  playground/templates/base.html.twig
  playground/templates/classic/index.html.twig
  src/Exceptions/NoCloudConfig.php
  src/Twig/CKEditorTwigExtension.php
  src/Twig/Runtimes/CKEditorAssetsTwigWidget.php
  src/Twig/Runtimes/CKEditorTwigWidget.php
  templates/cke5_assets.html.twig
  templates/cke5_editor.html.twig
Due: javascript, php

feat: init default config
  playground/.gitignore
  playground/templates/classic/index.html.twig
  src/DependencyInjection/CKEditorExtension.php
  src/DependencyInjection/DefaultConfiguration.php
Due: php

feat: improve importmap
  playground/importmap.php
Due: none

feat: add more parameters to cke5 widget
  composer.json
  composer.lock
  config/services.php
  playground/templates/classic/index.html.twig
  src/Language/Language.php
  src/Language/LanguageParser.php
  src/Twig/CKEditorTwigExtension.php
  src/Twig/Runtimes/CKEditorAssetsRuntime.php
  src/Twig/Runtimes/CKEditorHiddenInputRuntime.php
  src/Twig/Runtimes/CKEditorRuntime.php
  src/Twig/Runtimes/CKEditorTwigWidget.php
  templates/cke5_editor.html.twig
  templates/cke5_hidden_input.html.twig
Due: php

feat: add installer command
  README.md
  composer.json
  composer.lock
  config/services.php
  playground/importmap.php
  psalm.xml
  src/Command/ConfigureImportmapCommand.php
  src/Command/Installer/ImportmapManipulator.php
  src/Command/Installer/NpmPackageInstaller.php
  src/Command/Installer/Strategy/CloudInstallerStrategy.php
  src/Command/Installer/Strategy/InstallerStrategyInterface.php
  src/Command/Installer/Strategy/NpmInstallerStrategy.php
Due: php

docs: adjust docs
  README.md
Due: none

feat: more installer code
  config/services.php
  playground/importmap.php
  src/Command/ConfigureImportmapCommand.php
  src/Command/Installer/Strategy/CloudInstallerStrategy.php
  src/Command/Installer/TwigManipulator.php
Due: php

fix: not working cloud installer
  README.md
  config/services.php
  playground/importmap.php
  src/Command/ConfigureImportmapCommand.php
  src/Command/Installer/Strategy/CloudInstallerStrategy.php
  src/Command/Installer/Strategy/NpmInstallerStrategy.php
  src/Command/Installer/TwigManipulator.php
  src/Twig/Runtimes/CKEditorAssetsRuntime.php
  src/Twig/Runtimes/CKEditorHiddenInputRuntime.php
  src/Twig/Runtimes/CKEditorRuntime.php
  templates/cke5_assets.html.twig
Due: php

fix: cleanup ckeditor5 keys before configuration
  src/Command/ConfigureImportmapCommand.php
Due: php

fix: no longer try to insert `cke5_assets` if already present in file
  playground/templates/base.html.twig
  playground/templates/classic/index.html.twig
  src/Command/Installer/TwigManipulator.php
Due: php

feat: extend installer
  README.md
  composer.json
  composer.lock
  config/services.php
  playground/assets/styles/app.css
  playground/composer.json
  playground/composer.lock
  playground/importmap.php
  playground/templates/base.html.twig
  src/Cloud/CloudSingletonLoader.php
  src/Command/ConfigureImportmapCommand.php
  src/Command/InstallImportmapCommand.php
  src/Command/Installer/CSSManipulator.php
  src/Command/Installer/ComposerManipulator.php
  src/Command/Installer/ImportmapManipulator.php
  src/Command/Installer/NpmPackageInstaller.php
  src/Command/Installer/Strategy/CloudInstallerStrategy.php
  src/Command/Installer/Strategy/InstallerStrategyInterface.php
  src/Command/Installer/Strategy/NpmInstallerStrategy.php
  src/Command/Installer/TwigManipulator.php
  src/Twig/CKEditorTwigExtension.php
  src/Twig/Runtimes/CKEditorCloudAssetsRuntime.php
  templates/cke5_cloud_assets.html.twig
Due: php

fix: psalm errors
  src/Command/Installer/Strategy/NpmInstallerStrategy.php
Due: php

feat: adjust installer
  README.md
  config/services.php
  playground/assets/styles/app.css
  playground/importmap.php
  playground/templates/base.html.twig
  src/Command/CKEditor5AssetsMapperInstallCommand.php
  src/Command/Installer/Strategy/CloudInstallerStrategy.php
  src/Command/Installer/Strategy/InstallerStrategyInterface.php
  src/Command/Installer/Strategy/NpmInstallerStrategy.php
  src/Command/Installer/TwigManipulator.php
Due: php

docs: less magic readme
  README.md
Due: none

docs: adjust readme
  README.md
Due: none

chore: fix psalm errors
  composer.json
  composer.lock
  src/Command/CKEditor5AssetsMapperInstallCommand.php
  src/Command/Installer/CSSManipulator.php
  src/Command/Installer/ComposerManipulator.php
  src/Command/Installer/ImportmapManipulator.php
  src/Command/Installer/NpmPackageInstaller.php
  src/Command/Installer/Strategy/CloudInstallerStrategy.php
  src/Command/Installer/Strategy/NpmInstallerStrategy.php
  src/Command/Installer/TwigManipulator.php
  src/DependencyInjection/CKEditorExtension.php
  src/DependencyInjection/Configuration.php
  src/Twig/CKEditorTwigExtension.php
  src/Twig/Runtimes/CKEditorCloudAssetsRuntime.php
  src/Twig/Runtimes/CKEditorHiddenInputRuntime.php
  src/Twig/Runtimes/CKEditorRuntime.php
Due: php

feat: add more JS
  config/services.php
  npm_package/src/ckeditor5-symfony-error.ts
  npm_package/src/elements/context/context.ts
  npm_package/src/elements/editable.ts
  npm_package/src/elements/editor/editor.ts
  npm_package/src/elements/editor/plugins/sync-editor-with-input.ts
  npm_package/src/elements/editor/utils/load-editor-plugins.ts
  npm_package/src/elements/index.ts
  npm_package/src/elements/register-custom-elements.ts
  npm_package/src/elements/ui-part.ts
  npm_package/src/index.ts
  playground/assets/styles/app.css
  src/Command/CKEditor5AssetsMapperInstallCommand.php
  src/Command/Installer/Strategy/CloudInstallerStrategy.php
  src/Exceptions/NoCloudConfig.php
  src/License/Key.php
  src/Twig/CKEditorTwigExtension.php
  src/Twig/Runtimes/CKEditorCloudAssetsRuntime.php
  src/Twig/Runtimes/CKEditorContextRuntime.php
  src/Twig/Runtimes/CKEditorEditableRuntime.php
  src/Twig/Runtimes/CKEditorRuntime.php
  src/Twig/Runtimes/CKEditorUIPartRuntime.php
  templates/cke5_context.html.twig
  templates/cke5_editable.html.twig
  templates/cke5_editor.html.twig
  templates/cke5_ui_part.html.twig
Due: javascript, php

test: add more tests
  npm_package/src/elements/context/context.ts
  npm_package/src/elements/editable.ts
  npm_package/src/elements/editor/editor.ts
  npm_package/src/elements/editor/utils/index.ts
  npm_package/src/elements/editor/utils/is-wire-model-connected.test.ts
  npm_package/src/elements/editor/utils/is-wire-model-connected.ts
  npm_package/src/elements/ui-part.ts
  npm_package/src/shared/index.ts
  npm_package/src/shared/wait-for-dom-ready.test.ts
  npm_package/src/shared/wait-for-dom-ready.ts
Due: javascript

feat: prototype works
  README.md
  docs/intro-classic-editor.png
  npm_package/src/elements/editable.ts
  npm_package/src/elements/editor/editor.ts
  npm_package/src/elements/editor/utils/index.ts
  npm_package/src/elements/editor/utils/query-all-editor-ids.ts
  npm_package/src/elements/editor/utils/query-editor-editables.ts
  npm_package/src/elements/ui-part.ts
  playground/src/Controller/BalloonController.php
  playground/src/Controller/ContextController.php
  playground/src/Controller/DecoupledController.php
  playground/src/Controller/InlineController.php
  playground/src/Controller/MultirootController.php
  playground/templates/balloon/index.html.twig
  playground/templates/context/index.html.twig
  playground/templates/decoupled/index.html.twig
  playground/templates/index/index.html.twig
  playground/templates/inline/index.html.twig
  playground/templates/multiroot/index.html.twig
  src/Twig/Runtimes/CKEditorContextRuntime.php
  src/Twig/Runtimes/CKEditorEditableRuntime.php
  src/Twig/Runtimes/CKEditorRuntime.php
  src/Twig/Runtimes/CKEditorUIPartRuntime.php
  templates/cke5_context.html.twig
  templates/cke5_editable.html.twig
  templates/cke5_editor.html.twig
  templates/cke5_ui_part.html.twig
Due: javascript, php

docs: update screen
  docs/intro-classic-editor.png
Due: none

docs: add usage section
  README.md
Due: none

feat: add form integration
  playground/src/Controller/FormController.php
  playground/templates/form/index.html.twig
  playground/templates/index/index.html.twig
  playground/templates/multiroot/index.html.twig
  src/DependencyInjection/CKEditorExtension.php
  src/Form/Type/CKEditor5Type.php
  src/Twig/Runtimes/CKEditorEditableRuntime.php
  src/Twig/Runtimes/CKEditorHiddenInputRuntime.php
  src/Twig/Runtimes/CKEditorRuntime.php
  templates/cke5_form_type.html.twig
  templates/cke5_hidden_input.html.twig
Due: php

feat: add exceptions unit test
  phpunit.xml
  tests/Unit/Exceptions/InvalidLicenseKeyTest.php
  tests/Unit/Exceptions/NoCloudConfigTest.php
  tests/Unit/Exceptions/UnknownContextTest.php
  tests/Unit/Exceptions/UnknownPresetTest.php
Due: none

feat: add license testing
  tests/Unit/License/DistributionChannelTest.php
  tests/Unit/License/KeyParserTest.php
  tests/Unit/License/KeyTest.php
Due: none
