Repository Mati365/ckeditor5-symfony: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, php

fix: adjust typings
  npm_package/test-utils/context/wait-for-test-context.ts
  npm_package/test-utils/editor/wait-for-test-editor.ts
Due: javascript

ci: do not use codecov token if missing
  .github/workflows/code-checks.yml
Due: none

Update README.md
  README.md
Due: none

feat: shorter CMD installer command
  README.md
  playground/composer.json
  src/Command/CKEditor5AssetsMapperInstallCommand.php
  src/Command/Installer/JSManipulator.php
  src/Command/Installer/Strategy/CloudInstallerStrategy.php
  src/Command/Installer/Strategy/NpmInstallerStrategy.php
Due: php

docs: add `mountEffect` method docs
  README.md
Due: none

docs: fix typo
  README.md
Due: none

fix: add missing `data-cke-controlled` to mount elements in order to improve watchdog crash cleanup
  templates/cke5_editable.html.twig
  templates/cke5_editor.html.twig
  templates/cke5_ui_part.html.twig
Due: none

ci: adjust permissions, bump pnpm
  .github/workflows/code-checks.yml
  npm_package/package.json
  pnpm-workspace.yaml
Due: javascript

ci: bump pnpm action
  .github/workflows/code-checks.yml
  .github/workflows/publish.yml
Due: none

ci: bump actions
  .github/workflows/code-checks.yml
  .github/workflows/publish.yml
Due: none

feat: use new editor initialization syntax introduced in 48.x
  README.md
  npm_package/dist/elements/editor/editor.d.ts.map
  npm_package/dist/elements/editor/utils/create-editor-in-context.d.ts
  npm_package/dist/elements/editor/utils/create-editor-in-context.d.ts.map
  npm_package/dist/elements/editor/utils/index.d.ts
  npm_package/dist/elements/editor/utils/index.d.ts.map
  npm_package/dist/index.cjs
  npm_package/dist/index.cjs.map
  npm_package/dist/index.mjs
  npm_package/dist/index.mjs.map
  npm_package/package.json
  npm_package/src/elements/editable.ts
  npm_package/src/elements/editor/editor.ts
  npm_package/src/elements/editor/types/editor-relaxed-constructor.type.ts
  npm_package/src/elements/editor/types/index.ts
  npm_package/src/elements/editor/utils/assign-initial-data-to-editor-config.ts
  npm_package/src/elements/editor/utils/assign-source-elements-to-editor-config.ts
  npm_package/src/elements/editor/utils/create-editor-in-context.ts
  npm_package/src/elements/editor/utils/index.ts
  pnpm-lock.yaml
  src/Command/CKEditor5AssetsMapperInstallCommand.php
  src/DependencyInjection/DefaultConfiguration.php
Due: javascript, php

docs: add parameters to readme
  README.md
  playground/src/Controller/FormController.php
Due: none

feat: simplify editor initialization
  npm_package/src/elements/editor/editor.ts
  npm_package/src/elements/editor/utils/assign-editor-roots-to-config.ts
  npm_package/src/elements/editor/utils/assign-initial-data-to-editor-config.ts
  npm_package/src/elements/editor/utils/assign-source-elements-to-editor-config.ts
  npm_package/src/elements/editor/utils/index.ts
  npm_package/src/elements/editor/utils/query-all-editor-editables.ts
  npm_package/src/elements/editor/utils/query-editor-editables.ts
  npm_package/vite.config.ts
Due: javascript

fix: broken passing watchdog config from yml config
  npm_package/src/elements/editor/editor.ts
  src/DependencyInjection/Configuration.php
  src/DependencyInjection/DefaultConfiguration.php
Due: javascript, php

test: adjust config parser test
  tests/Unit/DependencyInjection/ConfigurationTest.php
Due: none

fix: invalid object constructor in few places
  npm_package/src/elements/editor/utils/get-editor-roots-values.ts
  npm_package/src/elements/editor/utils/query-all-editor-editables.ts
Due: javascript

feat: add paragraph like editor support
  README.md
  npm_package/dist/elements/editable.d.ts.map
  npm_package/dist/elements/editor/utils/assign-editor-roots-to-config.d.ts.map
  npm_package/dist/elements/editor/utils/query-all-editor-editables.d.ts
  npm_package/dist/elements/editor/utils/query-all-editor-editables.d.ts.map
  npm_package/dist/index.cjs
  npm_package/dist/index.cjs.map
  npm_package/dist/index.mjs
  npm_package/dist/index.mjs.map
  npm_package/package.json
  npm_package/src/elements/editable.test.ts
  npm_package/src/elements/editable.ts
  npm_package/src/elements/editor/editor.test.ts
  npm_package/src/elements/editor/utils/assign-editor-roots-to-config.ts
  npm_package/src/elements/editor/utils/query-all-editor-editables.ts
  npm_package/src/elements/ui-part.test.ts
  npm_package/test-utils/editable/create-editable-snapshot.ts
  npm_package/test-utils/editable/index.ts
  npm_package/test-utils/editable/render-test-editable.ts
  npm_package/test-utils/editor/create-editor-snapshot.ts
  npm_package/test-utils/editor/render-test-editor.ts
  npm_package/test-utils/ui-part/create-ui-part-snapshot.ts
  npm_package/test-utils/ui-part/index.ts
  npm_package/test-utils/ui-part/render-test-ui-part.ts
  playground/composer.json
  playground/templates/classic/index.html.twig
  playground/templates/multiroot/index.html.twig
  pnpm-lock.yaml
  src/Command/CKEditor5AssetsMapperInstallCommand.php
  src/DependencyInjection/DefaultConfiguration.php
  src/Form/Type/CKEditor5Type.php
  src/Twig/Runtimes/CKEditorEditableRuntime.php
  src/Twig/Runtimes/CKEditorRuntime.php
  templates/cke5_editable.html.twig
  templates/cke5_editor.html.twig
Due: javascript, php

docs: update readme
  README.md
Due: none

docs: reorder sections
  README.md
Due: none

docs: drop redundant section
  README.md
Due: none

docs: adjust title
  README.md
Due: none

Path conditions:
  javascript: any of: npm_package/
  php: any of: src/
