Repository Mati365/ckeditor5-symfony: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, php

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 0%
    patch:
      default:
        target: 100%
        threshold: 0%

flags:
  javascript:
    paths:
      - npm_package/
    carryforward: false
  php:
    paths:
      - src/
    carryforward: false

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

chore: add `minimal` preset to playground
  playground/config/packages/ckeditor5.yaml
  playground/templates/classic/index.html.twig
Due: none

docs: adjust docs
  README.md
Due: none

Update README.md
  README.md
Due: none

feat: Change package type from 'library' to 'symfony-bundle'
  composer.json
Due: none

Fix PHP8 migration rule name in config
  .php-cs-fixer.dist.php
Due: none

test: exclude typings from coverage
  npm_package/vite.config.ts
Due: javascript

test: improve coverage due to vitest upgrade
  npm_package/vite.config.ts
Due: javascript

feat: add ability to dynamically parse presets
  README.md
  playground/src/Controller/ClassicController.php
  playground/templates/classic/index.html.twig
  src/Twig/Runtimes/CKEditorRuntime.php
Due: php

feat: add ability to pass `Context` object to context component
  src/Twig/Runtimes/CKEditorContextRuntime.php
Due: php

docs: add info about webpack encore
  README.md
Due: none

docs: improve docs
  README.md
Due: none

feat: add `ckeditor5:change:data` event
  README.md
  npm_package/src/elements/editor/editor.test.ts
  npm_package/src/elements/editor/editor.ts
  npm_package/src/elements/editor/plugins/dispatch-editor-roots-change-event.ts
  npm_package/src/elements/editor/plugins/index.ts
  npm_package/src/elements/editor/utils/get-editor-roots-values.test.ts
  npm_package/src/elements/editor/utils/get-editor-roots-values.ts
  npm_package/src/elements/editor/utils/index.ts
Due: javascript

feat: add `saveDebounceMs` twig param
  src/Twig/Runtimes/CKEditorEditableRuntime.php
  src/Twig/Runtimes/CKEditorRuntime.php
  templates/cke5_editor.html.twig
Due: php

feat: add `editor` to custom event
  README.md
  npm_package/src/elements/editor/editor.test.ts
  npm_package/src/elements/editor/plugins/dispatch-editor-roots-change-event.ts
Due: javascript

fix: ckeditor5_widget missing parameter
  templates/cke5_form_type.html.twig
Due: none

feat: allow to pass `save_debounce_ms` to form type
  src/Form/Type/CKEditor5Type.php
  templates/cke5_form_type.html.twig
  tests/Unit/Form/Type/CKEditor5TypeTest.php
Due: php

feat: allow respect/validation 3
  composer.json
Due: none

ci: Add pull_request trigger to code checks workflow
  .github/workflows/code-checks.yml
Due: none

fix: refresh lock
  composer.lock
Due: none

fix: Update version to 1.2.4 and require respect/validation 2.4
  composer.json
Due: none

fix: drop `Respect/Validation` dependency due to breaking changes
  composer.json
  composer.lock
  src/Cloud/CKBox/CKBoxParser.php
  src/Cloud/CKBox/CKBoxValidator.php
  src/Cloud/CloudParser.php
  src/Cloud/CloudValidator.php
  src/Context/ContextParser.php
  src/Context/ContextValidator.php
  src/Preset/PresetParser.php
  src/Preset/PresetValidator.php
  tests/Unit/Cloud/CKBox/CKBoxValidatorTest.php
  tests/Unit/Cloud/CloudValidatorTest.php
  tests/Unit/Context/ContextValidatorTest.php
  tests/Unit/Preset/PresetValidatorTest.php
Due: php

feat: add ability to pass custom cdn url
  src/Cloud/CKBox/CKBox.php
  src/Cloud/CKBox/CKBoxCloudBundleBuilder.php
  src/Cloud/CKBox/CKBoxParser.php
  src/Cloud/CKBox/CKBoxValidator.php
  src/Cloud/CKEditor/CKEditorCloudBundleBuilder.php
  src/Cloud/CKEditor/CKEditorPremiumCloudBundleBuilder.php
  src/Cloud/Cloud.php
  src/Cloud/CloudBundleBuilder.php
  src/Cloud/CloudParser.php
  src/Cloud/CloudValidator.php
  src/Context/ContextValidator.php
  src/Exceptions/CloudLicenseIncompatible.php
  src/License/DistributionChannel.php
  src/License/Key.php
  src/Preset/Preset.php
  src/Preset/PresetLicenseCompatibility.php
  src/Preset/PresetValidator.php
  src/Twig/Runtimes/CKEditorCloudAssetsRuntime.php
  tests/Helpers/LicenseKeyHelper.php
  tests/Unit/Cloud/CKBox/CKBoxCloudBundleBuilderTest.php
  tests/Unit/Cloud/CKBox/CKBoxParserTest.php
  tests/Unit/Cloud/CKBox/CKBoxTest.php
  tests/Unit/Cloud/CKBox/CKBoxValidatorTest.php
  tests/Unit/Cloud/CKEditor/CKEditorCloudBundleBuilderTest.php
  tests/Unit/Cloud/CKEditor/CKEditorPremiumCloudBundleBuilderTest.php
  tests/Unit/Cloud/CloudBundleBuilderTest.php
  tests/Unit/Cloud/CloudParserTest.php
  tests/Unit/Cloud/CloudTest.php
  tests/Unit/Cloud/CloudValidatorTest.php
  tests/Unit/License/DistributionChannelTest.php
  tests/Unit/License/KeyTest.php
  tests/Unit/Preset/PresetLicenseCompatibilityTest.php
  tests/Unit/Twig/Runtimes/CKEditorCloudAssetsRuntimeTest.php
Due: php

fix: not loading license key from .env
  src/Preset/PresetParser.php
  tests/Unit/Preset/PresetParserTest.php
Due: php

Update import paths from ckeditor5-livewire to ckeditor5-symfony
  README.md
Due: none

feat: add support for `$translation` object in static preset
  README.md
  npm_package/src/elements/context/context.test.ts
  npm_package/src/elements/context/context.ts
  npm_package/src/elements/editor/editor.test.ts
  npm_package/src/elements/editor/editor.ts
  npm_package/src/elements/editor/utils/index.ts
  npm_package/src/elements/editor/utils/load-editor-translations.ts
  npm_package/src/elements/editor/utils/resolve-editor-config-translations.test.ts
  npm_package/src/elements/editor/utils/resolve-editor-config-translations.ts
  playground/composer.json
  playground/config/packages/ckeditor5.yaml
  playground/importmap.php
  playground/src/Controller/TranslationsController.php
  playground/templates/index/index.html.twig
  playground/templates/translations/index.html.twig
  src/Preset/PresetParser.php
Due: javascript, php

docs: adjust readme
  README.md
Due: none

test: add missing `include` to coverage
  npm_package/vite.config.ts
Due: javascript

fix: incorrect image toolbar configuration
  src/DependencyInjection/DefaultConfiguration.php
Due: php

docs: add missing section
  README.md
Due: none

feat: bump ckeditor version
  README.md
  npm_package/package.json
  pnpm-lock.yaml
  src/Command/CKEditor5AssetsMapperInstallCommand.php
  src/DependencyInjection/DefaultConfiguration.php
Due: javascript, php

chore: bump psalm
  .github/workflows/code-checks.yml
  composer.json
  composer.lock
  psalm.xml
Due: none
